<% include ../partials/header %>

<div class="row">
    <div class="col">
        <h1 class="text-center">Products Report</h1>
    </div>
</div>

<div id="myDiv"></div>
<script>
    var data = [{
        x: <%- JSON.stringify(product_x) %>,
        y: [<%= product_y %>],
        type: 'bar'
    }];

    var layout = {
        xaxis: {
            automargin: true
        }
    };

    Plotly.newPlot('myDiv', data, layout);
</script>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Sold</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product) { %>
        <tr>
            <td scope="row">
                <%= product.product_id %>
            </td>
            <td>
                <%= product.title %>
            </td>
            <td>
                <%= product.count %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% include ../partials/footer %>