<% include ../partials/header %>

<div class="row">
    <div class="col">
        <h1 class="text-center">Report</h1>
    </div>
</div>

<h1>Users</h1>
<div id="myDiv"></div>
<script>
    var fruits = ["Banana", "Orange", "Apple", "Mango"];
    // console.log(fruits);


    var data = [{
        x: [<% user_x.forEach(function (x) { %>
            "<%= x %>",
        <% }); %>],
        y: [<%= user_y %>],
    type: 'bar'

    }];

    Plotly.newPlot('myDiv', data);
</script>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Number of purchase</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user) { %>
        <tr>
            <td scope="row">
                <%= user.user_id %>
            </td>
            <td>
                <%= user.email %>
            </td>
            <td>
                <%= user.count %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% include ../partials/footer %>