<% include ../partials/header %>

<div class="row">
    <div class="col">
        <h1 class="text-center">Users Report</h1>
        <h1 class="text-center">Total: <%= sum %></h1>
    </div>
</div>

<div id="myDiv"></div>
<script>
    var data = [{
        x: <%- JSON.stringify(user_x) %>,
        y: [<%= user_y %>],
        type: 'bar'
    }];

    var layout = {
        xaxis: {
            automargin: true
        }
    };

    Plotly.newPlot('myDiv', data, layout);
</script>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Number of purchased item</th>
            <th>Total spend</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user) { %>
        <tr>
            <td scope="row">
                <%= user.user_id %>
            </td>
            <td>
                <%= user.email %>
            </td>
            <td>
                <%= user.count %>
            </td>
            <td>
                <%= user.totalprice %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% include ../partials/footer %>